<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      
     <div class="card" style="max-width: 800px;">
      <img class="card-img" src="img/forests.jpg">
       <div class="card-img-overlay">
         <p class="text-white">ここにテキストが入ります。</p>
       </div>
     </div>
      
      <h3 class="text-left">商品一覧</h3>
        
        
    </div>
  </div>
 </div>